<h1>All Products</h1>

<div class="all_products">
  <% @products.each do |p| %>
    <h2><%= link_to p.name, p %></h2><h5><%= number_to_currency(p.price_in_cents / 100) %> and small blood sacrifice</h5> 
    <p><%= p.description %></p><br>
  <% end %>
</div>

<p><%= link_to "Add new product", new_product_path %></p>
